@import "local://includes/back.css";

.back__cont {
    position: absolute;
    top: 0;
    right: 0;
}

#form-create-subdomain {
    max-width: 600px;
    margin: 0 auto;
}

.cont-inp {
    margin-bottom: 50px;
}

.subdmain__cont-table {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    border: 1px solid rgba(255, 255, 255, .14);
    border-radius: 20px;
}

.subdomain__cont {
    display: flex;
}

.subdomain__inp {
    flex: 1;
    margin-right: 10px;
    padding: 13.5px;
    max-width: 700px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}

.cont-btn {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

/* table */
.subdomain__empty p {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}
