@import "local://includes/empty-zone.css";

.cont-btn {
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 1200px;
}

.list-domains {
    max-width: 1200px;
    margin: 0 auto;
}

.domain__list-specs {
    display: flex;
}

.domain__left {
    flex: 1;
}

.domain-item {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.domain-item:last-child {
    border-bottom: unset;
}

.domain-item:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.domain-item:hover .ellipse {
    opacity: 1;
    margin-right: 5px;
}

.ellipse {
    opacity: 0;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background: #FF7000;
    box-shadow: 0px 8px 30px 8px rgba(255, 112, 0, 0.2);
    transition: 0.3s ease;
}

.domain__name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.domain__name span {
    font-weight: 600;
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.domain__spec {
    display: flex;
    align-items: center;
    margin-right: 16px;
}

.domain__spec:last-child {
    margin-right: unset;
}

.domain__spec-label {
    margin-left: 5px;
    font-weight: 600;
    font-size: 10px;
    line-height: 20px;
    text-align: justify;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
}

/* actions */
.domain__cont-action {
    display: flex;
    align-items: center;
}

.domain__action {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
    width: 30px;
}

.domain__action:last-child {
    margin-right: unset;
}

.domain__action:hover span:first-child {
    color: #fff;
}

.domain__action .icon-check, .domain__action .icon-edit-3, .domain__action .icon-trash {
    color: rgba(255, 255, 255, 0.5);
}

.domain__action-label {
    font-weight: 600;
    font-size: 8px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media screen and (max-width: "{{.viewport_4}}") {
    .domain-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 16px;
    }

    .ellipse {
        display: none;
    }

    .domain__cont-action {
        justify-content: center;
        margin-top: 10px;
        padding: 10px;
        width: 100%;
        border-radius: 5px;
        background: rgba(255, 255, 255, 0.08);
    }
}