@import "local://includes/back.css";
@import "local://includes/toaster-loader.css";

.back__cont {
    position: absolute;
    top: 0;
    right: 0;
}

#form-edit-domain {
    max-width: 800px;
    margin: 0 auto;
}

.cont-inp {
    margin-bottom: 50px;
}

.subdmain__cont-table {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    border: 1px solid rgba(255, 255, 255, .14);
    border-radius: 20px;
}

.subdomain__cont {
    display: flex;
}

.subdomain__inp {
    flex: 1;
    margin-right: 10px;
    padding: 13.5px;
    max-width: 700px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    color: #fff;
    background: rgba(255, 255, 255, .1);
}

.cont-btn {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

/* table */
.subdomain__empty p {
    text-align: center;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
}

.table {
    width: 100%;
}

t.tableable tbody {
    display: block;
    max-height: 300px;
    overflow-y: auto;
}

.table thead, .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.table th {
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    text-align: start;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.table tbody tr:hover {
    background-color: rgba(255, 255, 255, .03);
}

.table td {
    position: relative;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    font-size: 14px;
    line-height: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.table td .icon-x {
    cursor: pointer;
    position: absolute;
    right: 20px;
}

.table td .icon-x:hover {
    color:#fff
}